input{

    content:" *";
    color: red;
  
}
h4{
  line-height: 5px;
}
#Fl{
  padding-right: 100px;
}
tr{
border:transparent red;
background-color: rgb(172, 160, 160);

}
th{
  padding: 10px;
}
td{
  padding: 10px;
  text-align: center;
}
table{
  padding:10px;
  width: fit-content;
}
form{
  border: double pink 10px;
  padding-left:20px;
  display: flex;
  flex-direction: column;
  background-image: url(background\ image.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  font-family: 'Zilla Slab', serif;
}
#fname{
  border: transparent;
  border-radius: 5px;
}
#lname{
  border: transparent;
  border-radius: 5px;
}
#email{
  border: transparent;
  border-radius: 5px;
}
.name{
  flex-direction: row;
 
}
button{
 padding: 10px;
 width: 100px; 
 border-radius: 10px;
}
button:hover{
  cursor:pointer;
  background-color: rgb(199, 173, 173);
 }
#email{
  width: 200px;
}
textarea{
  width: 300px;
  height: 100px;
  border-radius: 10px;
}
div.stars {
    width: 270px;
    display: inline-block;
  }
  
  input.star { display: none; }
  
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }
  
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
  
  input.star-1:checked ~ label.star:before { color: #F62; }
  
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
  
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }
 